* {
  font-family: Arial, Helvetica, sans-serif;
  color: #2F2F2F;
  background-color: #FAF9F6;
}

.content {
  margin: 20px;
}

.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_link {
  display: inline;
  width: 50px;
}

h1 {
  text-align: center;
}

img {
  width: 200px;
  margin: 20px;
}

.bold {
  display: inline;
  font-weight: bold;
}

.italic {
  display: inline;
  font-style: italic;
}

.bio {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

.section {
  padding: 0 30px 20px 30px;
  margin: 10px;
  border: 1px solid #2F2F2F;
  border-radius: 10px;
}